<!DOCTYPE html>
<html lang="en">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121313270-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-121313270-1');
</script>
<head>
  <link rel="canonical" href="http://www.3dwebdevelopment.com" />
  <meta name="google-site-verification" content="7SLoQoC6WbnyErJKJ8IHasLqAE-ZK-HX-wNE5mRqpG4" />
<meta charset="utf-8">
   <link rel="shortcut icon" type="image/x-icon" href="../img/icon.png">
   <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Jouw vertrouwde website bouwer in Emmen! Goedkoop een eigen website laten maken? Dit is uw kans! Wij bouwen goedkoop professionele websites.">
    <meta name="author" content="">
    <meta name="keywords" content="website laten maken emmen, website laten maken goedkoop, website laten bouwen, website bouwer
    nieuwe website laten maken, nieuwe website laten bouwen, nieuwe website, web design, web development, website bouwer emmen">
    <title>3DWD | De vertrouwde website bouwer in Emmen!</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
	<link rel="stylesheet" href="../stylesheets/agency-blue.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <img src="img/logo.png" alt="3DWD logo" width="6%" height="6%" class="navbar-brand js-scroll-trigger img-fluid animated fadeInDownBig" data-wow-delay="0s" alt=""> <p class="text-white comp pt-4 mr-auto animated fadeIn _15" data-wow-delay="1.5s"><span class="comp1 animated fadeIn _7" data-wow-delay="0.75s"><a href="/">Web</span>Development</a></p>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig _4" data-wow-delay="0.50s" href="#over">Over</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig _3" data-wow-delay="0.50s" href="#services">Diensten</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig _2" data-wow-delay="0.50s" href="#portfolio">Designs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig _1" data-wow-delay="0.50s" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    

<div class="container-fluid p-0">
  <div class="col-lg-12 p-0">
    <p id="caption-main">
      Responsive Design
    </p>
    <p id="caption-main-s">
      - 9 Feiten.
    </p>
     <img src="https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt class="img-fluid">
  </div>
</div>

<section id="blog">
  <div class="container-fluid">
    <div class="container p-5">

<h3><strong>52.64% van al het online verkeer in 2017 kwam van mobiele gebruikers.</h3></strong>

<p>&mdash; Al sinds 2015 gebruiken meer mensen smartphones om websites te bezoeken dan andere apparaten.<br>
<br>

&mdash; Elk jaar groeit het percentage van smartphone gebruikers.<br>
<br>

<h3><strong>Naar verwachtingen gaat het aantal smartphone gebruikers stijgen tot 79% eind 2018.<br></h3></strong>
<br>
<br>

<h3><strong>57% van de internetgebruikers claimt dat ze geen slecht-ontworpen mobiele website zullen aanraden.</h3></strong>
<br><br>
&mdash; Een goede website straalt vertrouwen uit voor de klant.
<br>
&mdash; Als je alle grote webshops bekijkt, zul je merken dat ze allemaal goed op mobiel te gebruiken zijn.
<br><br>
<h3><strong>Bijna 8 van de 10 mensen stoppen met lezen als inhoud niet goed weergegeven wordt op hun mobiel.</h3></strong>
<br><br>
&mdash; Gebruikers zoeken liever verder naar een website die makkelijk te gebruiken is.
<br>
&mdash; Voor veel smartphone gebruikers is het vervelend om te moeten inzoomen op een website.
<br><br>
<h3><strong> Volgens Google, komt 61% van de website bezoekers niet meer terug als de website niet goed werkt op mobiel en gaat 40% naar de concurrent.</h3></strong>
<br><br>
&mdash; Gebruikers gemak is een van de voornaamste doelen van Responsive design.
<br>
&mdash; Websites die slecht toegankelijk zijn voor smartphones kunnen de klant frustreren.
<br><br>
<h3><strong> 81% van de gebruikers geeft aan dat een goed afgestelde website op alle apparaten zeer belangrijk is</h3></strong>
<br><br>
&mdash; Gebruikers moeten zonder verwarring een website kunnen navigeren op mobiel, nadat ze deze hebben bezocht op hun desktop.
<br>
&mdash; Er zou geen verschil moeten zitten tussen de gebruiksvriendelijkheid van de website op beide apparaten.
<br><br>
<h3><strong> Het conversie-percentage van smartphones is 64% hoger dan het conversie-percentage van desktops.
<br><br>
&mdash; Met andere woorden worden er meer doelen nageleefd door smartphone gebruikers in vergelijking tot desktop gebruikers.</h3></strong>
<br>
&mdash; Een goed ontworpen mobiele website waar klanten makkelijk op kunnen converteren pakt hier zijn voordeel mee.
<br><br>

<h3><strong>88% van de smartphone gebruikers bellen of bezoeken een bedrijf waarvan ze de website hebben bezocht binnen 24 uur.</h3></strong>
<br><br>
&mdash; Lokale bedrijven kunnen hier enorm van profiteren
<br>
&mdash; Een goede website van een lokaal bedrijf kan mensen aansporen om langs te komen.
<br><br>
<h3><strong>Bijna 1 op de 5 kleine bedrijven heeft nog helemaal geen toegankelijkheid voor smartphone bezoekers.</h3></strong>
<br><br>
&mdash;  Nu we weten hoe belangrijk het is om smartphone bezoekers met open armen te ontvangen met een gebruiksvriendelijke website, weten we ook hoeveel deze kleine bedrijven mislopen aan potentiële klanten.
<br>
&mdash; Om deze reden kunt u het beste zo snel mogelijk investeren in een responsive website, zeker als u concurrenten dit nog niet gedaan hebben.
<br><br>

<h3 class="mt-5">Andere artikelen</h3>
<a href="/responsive-design">
  <a href="/seo">Wat is SEO?</a><br>
  <a href="/responsive-design">Responsive Design</a><br>
  <a href="/nieuwe-website">De 4 effecten van een nieuwe website</a><br>
</a>
    </div>
  </div>
</section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Neem contact op</h2>
            <h3 class="section-subheading text-light">Voor een gratis offerte, een vraag, of een opmerking.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form  method="POST" action="send">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group wow fadeIn" data-wow-delay="0">
                    <input class="form-control"  type="text" name="name" placeholder="Naam *" required="required" data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group  wow fadeIn" data-wow-delay="0.10">
                    <input class="form-control"  type="email" name="email" placeholder="E-mail *" required="required" data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group  wow fadeIn" data-wow-delay="0.20">
                    <input class="form-control"  type="tel" name="tel" placeholder="Telefoon nummer *" required="required" data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group  wow fadeIn" data-wow-delay="0.30">
                    <textarea class="form-control"  placeholder="Uw Bericht *" name="bericht" required="required" data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button  class="btn btn-primary-custom btn-xl text-uppercase" type="submit">Verstuur</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; 3D Web Development 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/3DWD2?edit=true">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/3DWD-1806732726049755">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/niek-van-losenoord-30090996/">
              <i class="fab fa-linkedin"></i>
              </a>
              </li>
               <li class="list-inline-item">
                <a href="https://www.instagram.com/3d_web_development/">
              <i class="fab fa-instagram"></i>
              </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline  text-dark">
              <li class="list-inline-item">
              <p>KvK - 71933387</p>
              </li>
              <li class="list-inline-item">
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script>document.body.classList.add('js-loading');
window.addEventListener("load", showPage);
function showPage() {
  document.body.classList.remove('js-loading');
}</script>  
    <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="/js/agency.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
  </body>
</html>
