<!DOCTYPE html>
<html lang="en">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121313270-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-121313270-1');
</script>
<head>
  <link rel="canonical" href="http://www.3dwebdevelopment.com" />
  <meta name="google-site-verification" content="7SLoQoC6WbnyErJKJ8IHasLqAE-ZK-HX-wNE5mRqpG4" />
<meta charset="utf-8">
   <link rel="shortcut icon" type="image/x-icon" href="../img/icon.png">
   <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Jouw vertrouwde website bouwer in Emmen! Goedkoop een eigen website laten maken? Dit is uw kans! Wij bouwen goedkoop professionele websites.">
    <meta name="author" content="">
    <meta name="keywords" content="website laten maken emmen, website laten maken goedkoop, website laten bouwen, website bouwer
    nieuwe website laten maken, nieuwe website laten bouwen, nieuwe website, web design, web development, website bouwer emmen">
    <title>3DWD | De vertrouwde website bouwer in Emmen!</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
	<link rel="stylesheet" href="../stylesheets/agency-blue.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <img src="img/logo.png" alt="3DWD logo" width="6%" height="6%" class="navbar-brand js-scroll-trigger img-fluid animated fadeInDownBig" data-wow-delay="0s" alt=""> <p class="text-white comp pt-4 mr-auto animated fadeIn _15" data-wow-delay="1.5s"><span class="comp1 animated fadeIn _7" data-wow-delay="0.75s"><a href="/">Web</span>Development</a></p>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig _4" data-wow-delay="0.50s" href="#over">Over</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig _3" data-wow-delay="0.50s" href="#services">Diensten</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig _2" data-wow-delay="0.50s" href="#portfolio">Designs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger animated fadeInRightBig _1" data-wow-delay="0.50s" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    

    
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="text-light" ><div class="intro-heading text-uppercase"> <span class="d-none d-md-block welkom"></span><br><img src="img/logo.png" width="200px" height="165px" class="img-fluid animated fadeIn _1" data-wow-delay="0.10s"  alt="website logo"></div> <span class="comp3 mb-5 animated fadeIn _15" data-wow-delay="1.5s"><br> <span class="comp1 animated fadeIn _2" data-wow-delay="0.20s">Web </span> Development</span></div>
          <div class="intro-lead-in mt-5 animated fadeIn _20" data-wow-delay="2s"><h1>De vertrouwde website bouwer in Emmen!</h1></div>
          <a class="btn btn-primary-custom btn-xl text-cuppercase js-scroll-trigger mt-5 animated fadeInUpBig _25" data-wow-delay="2.5s" href="#contact">Contact <i class="fas fa-angle-double-down"></i></a>
        </div>
      </div>
    </header>
    
         <section id="over">
      <div class="container">
        <h2 class="section-heading text-uppercase text-center pb-5 mb-5">Over 3DWD</h2>
        <div class="row pb-5 mb-5">
          <div class="col-lg-8">
            <h2 class="section-subheading text-muted text-center">Wie zijn wij?</h2>
            <p class="text-muted text-left"> 
            3DWD is een website bouwer in Emmen.<br>
Een website is in deze tijd natuurlijk een vereiste voor vrijwel elk bedrijf, tegelijkertijd is een website laten maken vaak duur…<br><br>
Maar dit hoeft niet altijd zo te zijn!<br>
Bij 3DWD bouwen wij goedkope websites, die er professioneel uitzien en goed werken, op alle apparaten.<br>
Heeft u altijd al een eigen website gewild? <br>Vraag dan nu een gratis voorbeeld pagina aan
            via<a href="#contact"> ons contact-formulier</a></strong></p>
          </div>
          <div class="col-lg-4 text-center logo1 mt-5 ">
            <img src="img/logo1.png" alt="website logo" class="img-fluid d-none d-md-block"> 
          </div>
        </div>
      </div>
            <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 text-center mt-5">
            <img src="img/voorbeeld.png" alt="Voorbeelden website bouwen geen kosten" class="img-fluid"> 
          </div>
                    <div class="col-lg-6">
            <h2 class="section-heading text-uppercase text-center mt-5"></h2>
            <h2 class=" text-muted text-black pt-5 mt-5">Wat kost een website?</h2>
            <p class="text-muted px5"> 
            Een website laten maken door ons kan al <strong>vanaf €99,-!</strong><br>
            Vraag gratis de kosten op via<a href="#contact" class="underline"> ons contact-formulier</a></strong></p>

            <h2 class=" text-muted mt-5">Demo website, geen kosten!</h2>
            <p class="text-muted">Wij bouwen voor u, zonder kosten een voorbeeld website die wij vervolgens online zetten. Zo kun je de website laten zien aan uw collega’s, vrienden of familie zodat je een goede beslissing kan maken!</p>
          </div>
        </div>
      </div>
    </section>
    
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Diensten</h2>
            <h3 class="section-subheading text-muted">Neem contact op voor meer informatie.</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4  wow fadeIn" data-wow-delay="0s">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x  circle"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Commercie.</h4>
            <p class="text-muted">Wij bouwen jouw website met SEO in gedachten, om van uw website een succes te maken.<BR> <a href="https://nl.wikipedia.org/wiki/Zoekmachineoptimalisatie" class="underline">Wat is SEO?</a></p>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-delay="0.33s">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary circle"></i>
              <i class="fa fa-mobile fa-stack-1x icon1 fa-inverse"></i>
            </span>
            <h4 class="service-heading">Responsive Design.</h4>
            <p class="text-muted">Veel mensen gebruiken tegenwoordig hun telefoon om websites te bezoeken.<br> Daarom maken wij onze websites ook voor <strong>mobiele gebruikers</strong><br><a href="/" class="underline">Meer over responsive design</a></p>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-delay="0.66s">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary circle"></i>
              <i class="fa fa-pencil-alt fa-stack-1x icon fa-inverse"></i>
            </span>
            <h4 class="service-heading">Passend ontwerp.</h4>
            <p class="text-muted">Wij gebruiken geen templates of thema's, de website wordt van begin tot eind gebouwd met uw bedrijf als inspiratie. Fotografie met een professionele camera inbegrepen</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 wow fadeIn" data-wow-delay="0s">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x  circle"></i>
              <i class="fas fa-file-signature fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">2 Jaar Garantie & Onderhoud.</h4>
            <p class="text-muted">Wij bieden 2 jaar garantie en onderhoud op al onze <strong>websites</strong> en <strong>diensten</strong>.</p>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-delay="0.33s">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary circle"></i>
              <i class="fas fa-dollar-sign fa-stack-1x icon  fa-inverse"></i>
            </span>
            <h4 class="service-heading">Uitstekende prijzen.</h4>
            <p class="text-muted">Wij maken onze websites tegen lage kosten, bekijk voor de voorbeelden ons <a href="#portfolio" class="underline">portfolio</a></p>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-delay="0.66s">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary circle"></i>
              <i class="fas fa-edit fa-stack-1x icon fa-inverse"></i>
            </span>
            <h4 class="service-heading">Duidelijkheid.</h4>
            <p class="text-muted">Voor dat ik begin met bouwen geef ik u een vaste prijs voor uw website, die pas af is als u <strong>100 % tevreden bent.</strong></p>
          </div>
        </div>
      </div>
    </section>
<section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Projecten</h2>
            <h3 class="section-subheading text-muted m-5">Hieronder een aantal recente projecten van 3DWD</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item wow fadeInLeft" data-wow-delay="0.33s">
            <a class="portfolio-link" href="http://www.passiermuziekemmen.nl">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content" >
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" alt="website" src="img/passier-min.png" height="173px" alt="">
            </a>
            <div class="portfolio-caption">
              <h4 ><a href="http://www.passiermuziekemmen.nl" class="portfolio-h">Passier Muziek Emmen</a></h4>
              <p class="text-muted">Website bouwen/ Website maken / Webdesign / Foto's</p>
              <p class="text-muted">Emmen</p>             </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item wow fadeInLeft" data-wow-delay="0.33s">
            <a class="portfolio-link" href="https://www.niekvanlosenoord.design">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content" >
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" alt="website" src="img/persoonlijk-min.png" height="173px" alt="">
            </a>
            <div class="portfolio-caption">
              <h4 ><a href="http://www.passiermuziekemmen.nl" class="portfolio-h">Persoonlijk Portfolio</a></h4>
              <p class="text-muted">Website bouwen/ Website maken / Webdesign</p>
              <p class="text-muted">Emmen</p>             </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item wow fadeInRight" data-wow-delay="0.33s">
            <a class="portfolio-link" href="http://www.liedvandemerel.nl/index.html">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" alt="website" src="../img/merel-min.png" height="200px" alt="">
            </a>
            <div class="portfolio-caption">
              <h4 class="portfolio-h">Lied van de Merel</h4>
              <p class="text-muted">Website bouwen/ Website maken / Webdesign</p>
              <p class="text-muted">Emmen</p>             </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item wow fadeInLeft" data-wow-delay="0.33s">
            <a class="portfolio-link"  href="http://boo-at-the-zoo.nl/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" alt="website" src="img/batz-min.png" height="173px" alt="">
            </a>
            <div class="portfolio-caption">
              <h4 class="portfolio-h">Boo at the Zoo 2018</h4>
              <p class="text-muted">Website bouwen/ Website maken / Webdesign</p>
              <p class="text-muted">Emmen</p>             </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item wow fadeInUp" data-wow-delay="0.33s">
            <a class="portfolio-link"  href="https://www.stiltetuindestroetenhof.nl">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" alt="website" src="img/stiltetuin mockup-in.png" alt="">
            </a>
            <div class="portfolio-caption">
              <h4 class="portfolio-h">Stiltetuin de Stroetenhof</h4>
              <p class="text-muted">Website bouwen/ Website maken / Webdesign / Foto's</p>
              <p class="text-muted">Emmen</p>             </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item wow fadeInRight" data-wow-delay="0.33s">
            <a class="portfolio-link"  href="http://www.nrrdaken.nl">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" alt="website" src="img/nrr-min.png" alt="">
            </a>
            <div class="portfolio-caption">
              <h4 class="portfolio-h">NRR Daken</h4>
              <p class="text-muted">Teksten & Commercie</p>
              <p class="text-muted">Nederland</p>
            </div>
          </div>
                    <div class="col-md-4 col-sm-6 portfolio-item wow fadeInLeft" data-wow-delay="0.33s">
            <a class="portfolio-link"  href="https://nkvnl.github.io/natours1/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" alt="website" src="img/natours-min.png">
            </a>
            <div class="portfolio-caption">
              <h4 class="portfolio-h">Natours (Demo)</h4>
              <p class="text-muted">Website bouwen/ Website maken</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item wow fadeInUp" data-wow-delay="0.33s">
            <a class="portfolio-link"  href="https://nkvnl.github.io/Nexter/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" alt="website" src="img/nexter-min.png">
            </a>
            <div class="portfolio-caption">
              <h4 class="portfolio-h">Nexter (Demo)</h4>
              <p class="text-muted">Website bouwen/ Website maken</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item wow fadeInRight" data-wow-delay="0.33s">
            <a class="portfolio-link"  href="https://nkvnl.github.io/trillo1/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" alt="website" src="img/trillo-min.png">
            </a>
            <div class="portfolio-caption">
              <h4 class="portfolio-h">Trillo (Demo)</h4>
              <p class="text-muted">Website bouwen/ Website maken</p>
          </div>
          </div>
           <div class="col-md-4 col-sm-6 portfolio-item wow fadeInLeft" data-wow-delay="0.33s">
            <a class="portfolio-link"  href="https://dicegame1.herokuapp.com/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" alt="website" src="img/dice-min.png">
            </a>
            <div class="portfolio-caption">
              <h4 class="portfolio-h">Dobbel spel</h4>
              <p class="text-muted">Website bouwen/ Website maken / Webdesign</p>
              <p class="text-muted">Emmen</p> 
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item wow fadeInUp" data-wow-delay="0.33s">
            <a class="portfolio-link"  href="http://www.liefdegeeftlicht.nl/index.html">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" alt="website" src="img/lgl-min.png">
            </a>
            <div class="portfolio-caption">
              <h4 class="portfolio-h">Liefde Geeft Licht</h4>
              <p class="text-muted">Website bouwen/ Website maken / Webdesign</p>
              <p class="text-muted">Emmen</p>            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item wow fadeInRight" data-wow-delay="0.33s">
            <a class="portfolio-link"  href="https://polite-crown-32202.herokuapp.com/">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" alt="website" src="img/modern-min.png">
            </a>
            <div class="portfolio-caption">
              <h4 class="portfolio-h">Modern Gebruikersinterface (DEMO)</h4>
              <p class="text-muted">Website bouwen/ Website maken / Webdesign</p>
          </div>
        </div>
      </div>
    </section>
    
    <section id="blog">
      <div class="container">
        <h2 class="section-heading text-uppercase text-center pb-5 mb-5">Blog</h2>
        <div class="row pb-5">
         <div class="col-lg-6  pb-5">
           <a href="/seo">
           <img src="img/seos.jpeg" alt class="img-fluid">
           <p id="caption">
             Wat is SEO?.
           </p>
           </a>
         </div>
                  <div class="col-lg-6 pb-5">
           <a href="/responsive-design">
           <img src="img/rds.jpeg" alt class="img-fluid">
           <p id="caption">
            Responsive design.
           </p>
           </a>
         </div>
        </div>
                <div class="row">
         <div class="col-lg-6 pb-5">
           <a href="/nieuwe-website">
           <img src="img/nws.jpeg" alt class="img-fluid">
           <p id="caption">
             4 Redenen Voor <br>Een Nieuwe Website.
           </p>
           </a>
         </div>
                  <div class="col-lg-6 pb-5 ">
           <a href="/9-feiten-responsive-design">
           <img src="img/rd1s.jpeg" alt class="img-fluid">
           <p id="caption">
            Responsive design - 9 Feiten.
           </p>
           </a>
         </div>
        </div>
      </div>

    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Neem contact op</h2>
            <h3 class="section-subheading text-light">Voor een gratis offerte, een vraag, of een opmerking.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form  method="POST" action="send">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group wow fadeIn" data-wow-delay="0">
                    <input class="form-control"  type="text" name="name" placeholder="Naam *" required="required" data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group  wow fadeIn" data-wow-delay="0.10">
                    <input class="form-control"  type="email" name="email" placeholder="E-mail *" required="required" data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group  wow fadeIn" data-wow-delay="0.20">
                    <input class="form-control"  type="tel" name="tel" placeholder="Telefoon nummer *" required="required" data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group  wow fadeIn" data-wow-delay="0.30">
                    <textarea class="form-control"  placeholder="Uw Bericht *" name="bericht" required="required" data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button  class="btn btn-primary-custom btn-xl text-uppercase" type="submit">Verstuur</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; 3D Web Development 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/3DWD2?edit=true">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/3DWD-1806732726049755">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/niek-van-losenoord-30090996/">
              <i class="fab fa-linkedin"></i>
              </a>
              </li>
               <li class="list-inline-item">
                <a href="https://www.instagram.com/3d_web_development/">
              <i class="fab fa-instagram"></i>
              </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline  text-dark">
              <li class="list-inline-item">
              <p>KvK - 71933387</p>
              </li>
              <li class="list-inline-item">
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script>document.body.classList.add('js-loading');
window.addEventListener("load", showPage);
function showPage() {
  document.body.classList.remove('js-loading');
}</script>  
    <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="/js/agency.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
  </body>
</html>
